/* Reset básico de márgenes y padding */

body {
  margin: 0;
  padding: 0;
}


/* Título */
.login-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #f3f3f3;
  font-size: clamp(3.5rem, 6vw, 5rem);
}

/* Contenedor del formulario */
.login-form {
  position: relative;
  background-color: #242125;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 500px;
  margin: 0 auto; /* centrar horizontalmente */
}

.form-control {
  background-color: #f5efef;
}

.text-forgot {
  color: #ad3e36;
  text-decoration: underline !important;;
}


/* Estilo para botones */
.btn-primary {
  background-color: #8b2c25;
  border: none;
}

.btn-primary:hover {
  background-color: #a03228;
  border: none;
}

.btn-registro {
  background-color: #87916F;
  border: none;
  color: white;
}

.btn-registro:hover {
  background-color: #9dad78;
  border: none;
}


/* Posicionamiento del icono de usuario en el login */
.icon-wrapper {
  top: 2rem;
  transform: translateX(-50%);
  z-index: 10;
}

/* Separación extra para el formulario de inicio de sesión */
.form-card {
  margin-top: 4rem;
}


