
body {
  	margin: 0;
  	line-height: normal;
}

.campo-2-crudo-febreropor-alan {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 0px 0px 150px 150px;
  	width: 1452px;
  	height: 488px;
  	object-fit: cover;
}
.perfil-de-usuario-y-mis-compra-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1452px;
  	height: 487px;
}
.cerrar-sesion {
  	position: absolute;
  	top: 887px;
  	left: calc(50% + 196px);
  	font-weight: 500;
  	font-family: Inter;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 312px;
  	height: 37px;
}
.mi-cuenta {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 454px;
  	text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}
.mi-cuenta-wrapper {
  	position: absolute;
  	top: 59px;
  	left: 7px;
  	width: 454px;
  	height: 78px;
  	font-size: 64px;
}
.group-child {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 241.5px);
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  	border-radius: 15px;
  	background-color: rgba(234, 206, 156, 0.9);
  	width: 483px;
  	height: 237.6px;
}
.historial-de-pedidos {
  	position: absolute;
  	top: 145.58px;
  	left: 13.17px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 440px;
  	height: 41.7px;
}
.mis-pedidos {
  	position: absolute;
  	top: 64px;
  	left: 32px;
  	font-size: 36px;
  	font-weight: 500;
  	color: #fff;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 398.7px;
  	height: 62.1px;
}
.rectangle-parent {
  	position: absolute;
  	top: 213px;
  	left: calc(50% - 531px);
  	width: 483px;
  	height: 237.6px;
  	font-size: 24px;
  	color: #000;
}
.group-item {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 241.5px);
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  	border-radius: 15px;
  	background-color: rgba(234, 206, 156, 0.9);
  	width: 483px;
  	height: 239.1px;
}
.rectangle-wrapper {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 241.5px);
  	width: 483px;
  	height: 239.1px;
}
.editar-direcciones-para {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 440px;
  	height: 42px;
}
.editar-direcciones-para-pedido-wrapper {
  	position: absolute;
  	top: 146.5px;
  	left: 20.2px;
  	width: 440px;
  	height: 42px;
}
.direcciones {
  	position: absolute;
  	top: 64px;
  	left: 27px;
  	font-size: 36px;
  	font-weight: 500;
  	color: #fff;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 398.7px;
  	height: 62.5px;
}
.group-parent {
  	position: absolute;
  	top: 213px;
  	left: calc(50% + 25px);
  	width: 483px;
  	height: 239.1px;
  	font-size: 24px;
  	color: #000;
}
.group-inner {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 239.5px);
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  	border-radius: 15px;
  	background-color: rgba(234, 206, 156, 0.9);
  	width: 479px;
  	height: 255px;
}
.administrar-o-agregar {
  	position: absolute;
  	top: 104.71px;
  	left: 36.19px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 382.3px;
  	height: 113.4px;
}
.mis-pagos {
  	position: absolute;
  	top: 30.06px;
  	left: 38.8px;
  	font-size: 36px;
  	font-weight: 500;
  	color: #fff;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 395.4px;
  	height: 56.2px;
}
.rectangle-group {
  	position: absolute;
  	top: 480px;
  	left: calc(50% + 29px);
  	width: 479px;
  	height: 255px;
  	font-size: 24px;
  	color: #000;
}
.rectangle-div {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 241.6px);
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  	border-radius: 15px;
  	background-color: rgba(234, 206, 156, 0.9);
  	width: 483.2px;
  	height: 255px;
}
.cambiar-correo-electrnico {
  	position: absolute;
  	top: 104.32px;
  	left: 31.63px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 419.1px;
  	height: 113px;
}
.seguridad {
  	position: absolute;
  	top: 29.94px;
  	left: 44.81px;
  	font-size: 36px;
  	font-weight: 500;
  	color: #fff;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 398.9px;
  	height: 56px;
}
.rectangle-container {
  	position: absolute;
  	top: 480px;
  	left: calc(50% - 531px);
  	width: 483.2px;
  	height: 255px;
  	font-size: 24px;
  	color: #000;
}
.button1 {
  	position: relative;
  	line-height: 100%;
  	text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}
.button {
  	position: absolute;
  	top: 781px;
  	left: 812px;
  	border-radius: 8px;
  	background-color: #770000;
  	border: 1px solid #767676;
  	box-sizing: border-box;
  	width: 550px;
  	height: 78px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 12px;
  	text-align: left;
  	font-family: Inter;
}
.button2 {
  	position: absolute;
  	top: 893px;
  	left: 812px;
  	border-radius: 8px;
  	background-color: #87916f;
  	border: 1px solid #303030;
  	box-sizing: border-box;
  	width: 550px;
  	height: 78px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 12px;
  	text-align: left;
  	font-family: Inter;
}
.perfil-de-usuario-y-mis-compra {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 1030px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 32px;
  	color: #fff;
  	font-family: 'Libre Franklin';
}



/* Estilos para pantallas grandes (más de 1024px) */
@media (min-width: 1024px) {
  body {
    background-color: lightblue;
  }
}

/* Estilos para pantallas medianas (entre 768px y 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: lightgreen;
  }
}

/* Estilos para pantallas pequeñas (menos de 768px, como celulares) */
@media (max-width: 767px) {
  body {
    background-color: lightcoral;
  }
}