/* Reset básico de márgenes y padding */
body {
  margin: 0;
  padding: 0;
}

/* Fondo del navbar */
.navbar_background {
  background-color: #1E1E1E;
}

/* Estilo de enlaces del navbar */
.navbar-nav .nav-link {
  color: #ccc;
  transition: color 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #fff;
}

/* Icono del botón hamburguesa en blanco */
.navbar-toggler-icon {
  filter: invert(1);
}

/* Contenedor con fondo */
.image-background {
  position: relative;
  height: 100vh;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background:linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url('../assets/img/imagenInicioSesion.PNG');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Para que el contenido dentro del contenedor suba un poco y no esté pegado */
.image-background .container {
  position: relative;
  z-index: 10;
}

/* Contenedor con formulario y título */
.image-background {
  position: relative;
  min-height: 50vh;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url('../assets/img/imagenRegistro.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  padding-bottom: 5rem;
}

/* Título */
.login-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #f3f3f3;
  font-size: clamp(3.5rem, 6vw, 5rem);
}

/* Formulario */
.formulario-registro {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #242125;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-title {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.form-section {
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: #f5efef;
}

.border-ladrillo {
  border-left-color: #8b2c25 !important;
}
.bg-ladrillo {
  background-color: #8b2c25 !important;
}

.form-row {
  display: flex;
  gap: 1rem;
}

.form-row .form-group {
  flex: 1;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* En caso de ser diferentes las contraseñas*/
.error-message {
  color: #b90000;
  font-size: 0.9rem;
  margin-top: 0.25rem;
  font-weight: bold;
}

.is-invalid {
  border-color: #ff0019 !important;
  background-color: #f05f5f !important;
}

/* Politicas de envio */
.btn-container {
  text-align: center;
  margin-bottom: 2rem;
}

.btn-link {
  display: inline-block;
  background-color: #87916F;
  color: #283500;
  padding: 6px 16px;
  font-size: 0.9rem; 
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
}

.btn-link:hover {
  background-color: #9dad78;
  color:rgb(88, 48, 25)
}

/* Boton de registro*/
.btn {
  padding: 1rem 2rem;
  background-color: #8b2c25;
  color: white;
  border: none;
  border-radius: 0.75rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #a03228;
}

/* Terminos y condiciones */ 
.text-terminos{
  color: #ad3e36;
  text-decoration: underline !important;;
}

/* Tipografía de enlaces */
.links {
  font-size: 1.25rem; /* 20px */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Estilo para la pestaña activa */
.nav-link.active {
  border-bottom: 2px solid #EACE9C;
}

/* Títulos del footer */
.titleFooter {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #EACE9C;
}

/* Enlaces del footer */
footer a {
  color: #ccc;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Íconos sociales del footer */
footer img {
  transition: transform 0.3s ease;
}

footer img:hover {
  transform: scale(1.1);
}

/* Textos del footer */
footer p,
footer small {
  font-size: 0.9rem;
  color: #ccc;
}