/* Reset básico de márgenes y padding */
body {
  margin: 0;
  padding: 0;
}

/* Título */
.login-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #f3f3f3;
  font-size: clamp(3.5rem, 6vw, 5rem);
}

/* Formulario */
.formulario-registro {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #242125;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-title {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.form-section {
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: #f5efef;
}

.border-ladrillo {
  border-left-color: #8b2c25 !important;
}
.bg-ladrillo {
  background-color: #8b2c25 !important;
}

.form-row {
  display: flex;
  gap: 1rem;
}

.form-row .form-group {
  flex: 1;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* En caso de ser diferentes las contraseñas*/
.error-message {
  color: #b90000;
  font-size: 0.9rem;
  margin-top: 0.25rem;
  font-weight: bold;
}

.is-invalid {
  border-color: #ff0019 !important;
  background-color: #f05f5f !important;
}

/* Politicas de envio */
.btn-container {
  text-align: center;
  margin-bottom: 2rem;
}

.btn-link {
  display: inline-block;
  background-color: #87916F;
  color: #283500;
  padding: 6px 16px;
  font-size: 0.9rem; 
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
}

.btn-link:hover {
  background-color: #9dad78;
  color:rgb(88, 48, 25)
}

/* Boton de registro*/
.btn {
  padding: 1rem 2rem;
  background-color: #8b2c25;
  color: white;
  border: none;
  border-radius: 0.75rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #a03228;
}

/* Terminos y condiciones */ 
.text-terminos{
  color: #ad3e36;
  text-decoration: underline !important;;
}
