/* Fuente global */
body {
  background-color: #F3F3F3;
  font-family: 'Inter', sans-serif;
  font-size: 1rem; /* Tamaño base del texto */
  line-height: 1.6;
}

/* Estilo para encabezados */
h1 {
  font-size: 3rm;
  font-weight: 700;
}
h2 {
  font-size: 2.3rem;
  font-weight: 600;
}
h3 {
  font-size: 1.8rem;
  font-weight: 600;
}
h4 {
  font-size: 1.4rem;
  font-weight: 600;
}
h5, h6 {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Párrafos */
.paragraphs {
  font-size: 1.4rem;
}

/* Lista de desarrolladores */
.list-group-item {
  font-size: 1.4rem;
  background-color: #F3F3F3;
}

/* Imagen destacada de la sección "Nosotros" */
.header-nosotros {
  margin-top: 0;
  padding: 0;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 0 0 50px 50px; /* Redondear solo parte inferior */
  display: block;
  position: relative;
  z-index: 1;
}
.header-overlay {
  position: absolute;
  inset: 0; /* asegura que cubra todo el contenedor padre */
  background: rgba(0, 0, 0, 0.4); /* fondo negro translúcido */
  z-index: 2;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* Texto sobre imagen destacada */
.position-relative h1 {
  font-size: 4.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  z-index: 3;
}

/* Secciones horizontales */
section .row {
  margin-bottom: 3rem;
}

/* Imágenes generales */
section img {
  max-width: 100%;
  border-radius: 8px;
}
.right-img {
  border-top-left-radius: 80px;
  box-shadow: 0 6px 20px rgb(1, 1, 1);
  max-width: 100%;
  height: auto;
}
.left-img {
  border-top-right-radius: 80px;
  box-shadow: 0 6px 20px rgb(1, 1, 1);
  max-width: 100%;
  height: auto;
}
.valores-img {
  box-shadow: 0 6px 20px rgb(1, 1, 1);
  max-width: 100%;
  height: auto;
}
.garantia-img {
  filter: drop-shadow(0px 6px 20px rgb(1,1,1));
  max-width: 100%;
  height: auto;
}


/* Responsive: Alineación de contenido horizontal */
@media (min-width: 768px) {
  .row.align-items-center {
    display: flex;
    align-items: center;
  }
}

/* Ajustes móviles */
@media (max-width: 767.98px) {
  .position-relative h1 {
    font-size: 2rem;
  }
  footer {
    text-align: center;
  }
  .paragraphs {
    font-size: 1rem;
  }
}

/* Animaciones personalizadas */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.animate-fade-in {
  opacity: 1;
  transform: translateY(0);
}
