body {
  	margin: 0;
  	line-height: normal;
}


.campo-2-crudo-febreropor-alan {
  	position: absolute;
  	top: 142px;
  	left: -23px;
  	border-radius: 0px 0px 150px 150px;
  	width: 1486.8px;
  	height: 763px;
  	object-fit: cover;
}
.informacion-child {
  	position: absolute;
  	top: 131px;
  	left: -23px;
  	border-radius: 0px 0px 150px 150px;
  	background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  	width: 1487px;
  	height: 774px;
}
.informacin {
  	position: absolute;
  	top: 237px;
  	left: 90px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1292px;
}
.group-child {
  	position: absolute;
  	top: 719px;
  	left: calc(50% - 901.65px);
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  	border-radius: 15px;
  	background-color: #eace9c;
  	width: 1284px;
  	height: 636px;
}
.group-item {
  	position: absolute;
  	top: 1426px;
  	left: calc(50% - 901.65px);
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  	border-radius: 15px;
  	background-color: #242125;
  	width: 1284px;
  	height: 2151px;
}
.group-inner {
  	position: absolute;
  	top: 875px;
  	left: calc(50% - 834.65px);
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  	border-radius: 15px;
  	background-color: #fff;
  	width: 1139px;
  	height: 426px;
}
.rectangle-div {
  	position: absolute;
  	top: 1543px;
  	left: calc(50% - 834.65px);
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  	border-radius: 15px;
  	background-color: #fff;
  	width: 1139px;
  	height: 1920px;
}
.zonas-que-cubren {
  	margin: 0;
  	color: #8b2c25;
}
.para-compras-de {
  	margin: 0;
}
.zonas-que-cubren-container1 {
  	width: 100%;
}
.zonas-que-cubren-container {
  	position: absolute;
  	top: 922px;
  	left: 111px;
  	font-size: 32px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 1055px;
  	height: 243px;
}
.los-precios-mostrados {
  	margin-bottom: 0px;
}
.los-precios-mostrados-en-el-si {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 43px;
}
.del-norte-se {
  	margin: 0;
  	white-space: pre-wrap;
}
.aceptacin-de-trminos-container {
  	position: absolute;
  	top: 1584px;
  	left: 87px;
  	font-size: 32px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 1055px;
  	height: 1879px;
}
.group-child1 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 902.65px);
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  	border-radius: 15px;
  	background-color: rgba(135, 145, 111, 0.8);
  	width: 1283.9px;
  	height: 661px;
}
.faqs {
  	position: absolute;
  	top: 19px;
  	left: 149.79px;
  	font-weight: 500;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 986.5px;
  	height: 69.1px;
}
.politicas-de-envio {
  	position: absolute;
  	top: 763px;
  	left: calc(50% - 653.65px);
  	font-weight: 500;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 777.9px;
  	height: 68.2px;
}
.trminos-y-condiciones {
  	position: absolute;
  	top: 1450px;
  	left: calc(50% - 626.65px);
  	font-weight: 500;
  	color: #fff;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 777.9px;
  	height: 68.2px;
}
.group-child2 {
  	position: absolute;
  	top: 103px;
  	left: calc(50% - 834.17px);
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  	border-radius: 15px;
  	background-color: #fff;
  	width: 574.6px;
  	height: 512px;
}
.group-child3 {
  	position: absolute;
  	top: 477px;
  	left: calc(50% - 239.65px);
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  	border-radius: 15px;
  	background-color: #fff;
  	width: 575px;
  	height: 138px;
}
.group-child4 {
  	position: absolute;
  	top: 103px;
  	left: calc(50% - 233.65px);
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  	border-radius: 15px;
  	background-color: #fff;
  	width: 564px;
  	height: 321px;
}
.restaurantes-boutiques-de-carn {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 32px;
}
.a-qu-tipo-container {
  	position: absolute;
  	top: 154px;
  	left: 115.55px;
  	font-size: 24px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 480.4px;
  	height: 397px;
}
.si-contactarse-directo {
  	margin: 0;
  	color: #242125;
}
.realizan-facturas-si-container {
  	position: absolute;
  	top: 492px;
  	left: 700px;
  	font-size: 24px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 1105.3px;
  	height: 107px;
  	color: #8b2c25;
}
.s-con-un-margen-de-2-horas-p {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 32px;
  	color: #242125;
}
.el-cliente-elige-container {
  	position: absolute;
  	top: 69px;
  	left: 700px;
  	font-size: 24px;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	width: 494.3px;
  	height: 379px;
  	color: #8b2c25;
}
.rectangle-parent {
  	position: absolute;
  	top: 441px;
  	left: calc(50% - 630px);
  	width: 1805.3px;
  	height: 3577px;
  	text-align: left;
  	font-size: 48px;
  	color: #242125;
}
.group-child5 {
  	position: absolute;
  	top: 54px;
  	left: 677px;
  	border-radius: 60px;
  	background-color: #d9d9d9;
  	width: 629px;
  	height: 59px;
}
.group-child6 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #050505;
  	width: 1440px;
  	height: 437px;
}
.ad-48fd-9bd7-b978d944fea3-remo-icon {
  	position: absolute;
  	top: 0px;
  	left: 39px;
  	width: 341.9px;
  	height: 195px;
  	object-fit: cover;
}
.whatsapp-icon {
  	position: absolute;
  	top: 197px;
  	left: 269px;
  	width: 90px;
  	height: 90px;
  	object-fit: cover;
}
.mapa-del-sitio {
  	margin: 0;
  	font-family: 'Franklin Gothic Medium';
}
.nosotros-contacto-preguntas-f {
  	margin: 0;
  	font-size: 24px;
  	padding-left: 32px;
  	color: #fff;
}
.mapa-del-sitio-container {
  	position: absolute;
  	top: 39px;
  	left: calc(50% - 278px);
  	display: inline-block;
  	width: 218px;
  	height: 258px;
}
.blank-line7 {
  	margin: 0;
  	font-size: 32px;
  	color: #8b2c25;
  	font-family: Inter;
}
.guadalajara-jalisco-mxico {
  	margin: 0;
  	font-size: 24px;
  	color: #fff;
}
.contctanos-guadalajara-jalis-container {
  	position: absolute;
  	top: 39px;
  	left: calc(50% + 2px);
  	display: inline-block;
  	width: 346px;
  	height: 258px;
  	font-family: 'Franklin Gothic Medium';
}
.image-20-icon {
  	position: absolute;
  	top: 123px;
  	left: 1171px;
  	width: 142.5px;
  	height: 38px;
  	object-fit: cover;
}
.group-child7 {
  	position: absolute;
  	top: 352px;
  	left: 0px;
  	background-color: #d9d9d9;
  	width: 1440px;
  	height: 6px;
}
.copyright-2025 {
  	position: absolute;
  	top: 380px;
  	left: 619px;
  	font-size: 24px;
  	color: #fff;
}
.instagram-icon {
  	position: absolute;
  	top: 197px;
  	left: 162px;
  	width: 90px;
  	height: 90px;
  	object-fit: cover;
}
.facebook-icon {
  	position: absolute;
  	top: 197px;
  	left: 58px;
  	width: 90px;
  	height: 90px;
  	object-fit: cover;
}
.image-32-icon {
  	position: absolute;
  	top: 197px;
  	left: 1165px;
  	width: 157.4px;
  	height: 82px;
  	object-fit: cover;
}
.rectangle-group {
  	position: absolute;
  	top: 4150px;
  	left: 0px;
  	width: 1440px;
  	height: 437px;
  	text-align: left;
  	font-size: 36px;
  	color: #d8c3a5;
}
.group-child8 {
  	position: absolute;
  	top: 0px;
  	left: 20px;
  	background-color: #050505;
  	width: 1440px;
  	height: 141.5px;
}
.image-2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 372px;
  	height: 127.8px;
}
.group-child9 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #f3f3f3;
  	width: 50px;
  	height: 6.5px;
}
.group-child10 {
  	position: absolute;
  	top: 11.76px;
  	left: 0px;
  	background-color: #f3f3f3;
  	width: 50px;
  	height: 6.5px;
}
.group-child11 {
  	position: absolute;
  	top: 24.12px;
  	left: 0px;
  	background-color: #f3f3f3;
  	width: 50px;
  	height: 5.9px;
}
.group-div {
  	position: absolute;
  	top: 48.56px;
  	left: 1331px;
  	width: 50px;
  	height: 30px;
}
.inicio {
  	position: absolute;
  	top: 48.09px;
  	left: 463px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 106px;
  	height: 31.6px;
}
.nosotros1 {
  	position: absolute;
  	top: 50.84px;
  	left: 678px;
  	line-height: 25px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 178px;
  	height: 26.8px;
}
.contacto1 {
  	position: absolute;
  	top: 47.41px;
  	left: 972px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 176px;
  	height: 33.7px;
}
.image-2-parent {
  	position: absolute;
  	top: 3.44px;
  	left: 0px;
  	width: 1381px;
  	height: 127.8px;
}
.ad-48fd-9bd7-b978d944fea3-remo-icon1 {
  	position: absolute;
  	top: 19px;
  	left: 89px;
  	width: 247.4px;
  	height: 97px;
  	object-fit: cover;
}
.group-container {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1460px;
  	height: 141.5px;
}
.line-div {
  	position: absolute;
  	top: 50.34px;
  	left: 617.5px;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1px;
  	height: 34.7px;
}
.group-child12 {
  	position: absolute;
  	top: 50.34px;
  	left: 908.5px;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1px;
  	height: 34.7px;
}
.group-parent {
  	position: absolute;
  	top: 0px;
  	left: -20px;
  	width: 1460px;
  	height: 141.5px;
  	font-size: 30px;
  	color: #f3f3f3;
}
.informacion {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 4587px;
  	overflow-x: auto;
  	text-align: center;
  	font-size: 128px;
  	color: #fff;
  	font-family: Inter;
}

