
.accordion {
  width: 80%;
  text-align: center;
    margin-top: 0px;
    margin-left: 10%;

}

.accordion-header {
  background-color:rgba(50, 71, 54, 0.7);
  color: #ffffff;
  font-weight: 400;
  padding:15px;
  gap: 15px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  border: 1px solid #ccc;

}
.accordion-header:hover {
transform: translateY(-5px); /* Eleva ligeramente la tarjeta al pasar el ratón */
}

.accordion-content {
  padding: 10px;
  border: 1px solid #070404;
  border-top: none;
  display: none; /* Ocultar inicialmente */
  background-color: rgba(234, 206, 156, 0.3);
}

.accordion-item.active .accordion-content {
  display: block; /* Mostrar al activar */
}

/* Estilos para pantallas grandes (más de 1024px) */
@media (min-width: 1024px) {
  body {
    background-color: lightblue;
  }
}

/* Estilos para pantallas medianas (entre 768px y 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: lightgreen;
  }
}

/* Estilos para pantallas pequeñas (menos de 768px, como celulares) */
@media (max-width: 767px) {
  body {
    background-color: lightcoral;
  }
}

/* Imagen destacada */
.header-info {
  margin-top: 0;
  padding: 0;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 0 0 50px 50px; /* Redondear solo parte inferior */
  display: block;
  position: relative;
  z-index: 1;
}
.header-overlay {
  position: absolute;
  inset: 0; /* asegura que cubra todo el contenedor padre */
  background: rgba(0, 0, 0, 0.4); /* fondo negro translúcido */
  z-index: 2;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
/* Texto sobre imagen destacada */
.position-relative h1 {
  font-size: 4.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

