.container-custom {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px; /* Limita el tamaño máximo para pantallas gigantes */
}
#carrito-icon {
  background-color: transparent !important;
  border: none;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
