/* ======= Tipografía y fondo general ======= */
body {
	font-family: 'Inter', sans-serif;
	background-color: #f3f3f3;
	color: #333;
}

main {
	flex: 1;
	/* para empujar el footer abajo */
}

/* ======= Navbar por encima ======= */
#navbar {
	position: relative;
	z-index: 3;
}
